<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @profile.user.name %>
</p>

<p>
  <b>Tagline:</b>
  <%= @profile.tagline %>
</p>

<p>
  <b>Bio:</b>
  <%= @profile.bio %>
</p>

  <p>
    <b>Skills:</b>
    <br />

  <%= render @skills %>
  <br />
  <% if can? :manage, @profile %>
    <%= link_to "Add Skill+", new_skill_path %>
  <% end %>
  </p>
  <p>
    <b>Tags: </b>
    <%= @profile.tags.map { |k, v| k }.join(", ") %>
  <br />

  <br />
  <b>Calendar Info:</b>
  <% if @profile.has_calendar? %>
    <%= render @calendar %>
  <% end %> 
<% if can? :manage, @profile %>
  <% unless @profile.has_calendar? %>
    <%= link_to 'Add Calendar+', new_calendar_path %> <br />
  <% end %>
<% end %>

<br />
<% unless current_user == @profile.user %>
<p><%= link_to "Make appointment with #{@profile.user.name}", controller: "appointments", action: "new", user: @profile.user_id %><p>
<% end %>
<br />



<% if can? :manage, @profile %>
  <%= link_to 'Edit', edit_profile_path(@profile) %> |
<% end %>
<%= link_to 'Back', dashboard_path %>
